# ChatData

In [ ]:
import numpy as np
import pandas as pd
import sqlite3

In [ ]:
pip install sqlalchemy==1.3.2

In [ ]:
con = sqlite3.connect('chatdata.db')

%load_ext sql

%sql sqlite:///chatdata.db

In [ ]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
comments = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [ ]:
comments.to_sql('comments', con, if_exists='replace', index=False)

sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [ ]:
users = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [ ]:
# load users into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [ ]:
posts = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [ ]:
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [ ]:
print("present comments shape",comments.shape)
comments.drop_duplicates(inplace=True)
print("new comments shape",comments.shape)

present comments shape (50000, 6)
new comments shape (50000, 6)

In [ ]:
print("present users shape",users.shape)
users.drop_duplicates(inplace=True)
print("new users shape",users.shape)

present users shape (18412, 13)
new users shape (18412, 13)

In [ ]:
print("present posts shape",posts.shape)
posts.drop_duplicates(inplace=True)
print("new posts shape",posts.shape)

present posts shape (42234, 21)
new posts shape (42234, 21)

## Reviewing the Data

In [ ]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [ ]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [ ]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [ ]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [ ]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [ ]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [ ]:
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [ ]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

In [ ]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

In [ ]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',)]

In [ ]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
# Run the CREATE TABLE statement for the posts table, including the primary key constraint

%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT,
);

In [ ]:
# Run the CREATE TABLE statement for the comments table, including the primary key constraint and the 2 foreign key constraints

%%sql
CREATE TABLE "comments" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostId" INTEGER,
"Score" INTEGER,
"Text" TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY(UserId) REFERENCES users(AccountId)
FOREIGN KEY(PostID) REFERENCES posts(Id)
);

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [ ]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

In [ ]:
# Insert data into the new posts table

posts.to_sql('posts', con, if_exists='append', index=False)

42234

Comments, which references the users and posts tables:

In [ ]:
# Insert data into the new comments table

comments.to_sql('comments', con, if_exists='append', index=False)

50000

In [ ]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

In [ ]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

In [ ]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

<ipython-input-42-7b2c47bab8fa>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

In [ ]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

In [ ]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

In [ ]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

In [ ]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

In [ ]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

In [ ]:
sql = """
    CREATE TABLE "posts" (
   "Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT,
    )
    """
store_query("Task 2", "Create table posts", sql)

In [ ]:
sql = """
    CREATE TABLE "users" (
   "Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER,
    )
    """
store_query("Task 3", "Create table users", sql)

In [ ]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n    CREATE TABLE "posts" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"Creati ... (241 characters truncated) ... n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT,\n    )\n    '),
 ('Task 3', 'Create table users', '\n    CREATE TABLE "users" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDat ... (34 characters truncated) ... ation" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER,\n    )\n    ')]

In [ ]:
# Count the number of rows in the comments table

%sql SELECT COUNT(*) FROM comments;

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [ ]:
sql = """
    %sql SELECT COUNT(*) FROM comments;
    """
store_query("Task 4", "Count the number of rows in the comments table", sql)

In [ ]:
# Count the number of rows in the users table

%sql SELECT COUNT(*) FROM users;

 * sqlite:///chatdata.db
Done.

[(18412,)]

In [ ]:
sql = """
    %sql SELECT COUNT(*) FROM users;
    """
store_query("Task 5", "Count the number of rows in the users table", sql)

In [ ]:
# Count the number of rows in the posts table

%sql SELECT COUNT(*) FROM posts;

 * sqlite:///chatdata.db
Done.

[(42234,)]

In [ ]:
sql = """
    %sql SELECT COUNT(*) FROM posts;
    """
store_query("Task 6", "Count the number of rows in the posts table", sql)

In [ ]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n    CREATE TABLE "posts" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"Creati ... (241 characters truncated) ... n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT,\n    )\n    '),
 ('Task 3', 'Create table users', '\n    CREATE TABLE "users" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDat ... (34 characters truncated) ... ation" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER,\n    )\n    '),
 ('Task 4', 'Count the number of rows in the comments table', '\n    %sql SELECT COUNT(*) FROM comments;\n    '),
 ('Task 5', 'Count the number of rows in the users table', '\n    %sql SELECT COUNT(*) FROM users;\n    '),
 ('Task 6', 'Count the number of rows in the posts table', '\n    %sql SELECT COUNT(*) FROM posts;\n    ')]

In [ ]:
# Run the query to select 5 random rows from the comments table

%sql SELECT * FROM Comments WHERE rowid IN (SELECT rowid FROM Comments ORDER BY RANDOM() LIMIT 5);

 * sqlite:///chatdata.db
Done.

[(733664, 266389, 1, "You'll have an AUC below 0.5 whenever the ranking on some set is closer to being *backward* than correct. It's not any different from overfitting in any other context.", '2019-02-04 16:30:37', 22311),
 (754682, 403436, 0, 'Also, if you are interested in obtaining regression output of 0 when concentrations are 0, regardless of the value of time, you may need to construct ... (3 characters truncated) ... regression through the origin, i.e., regression without an intercept term.  See this Q&A, for example: https://stats.stackexchange.com/q/11064/241093', '2019-04-16 20:25:38', 241093),
 (757563, 405249, 1, 'This could use some elaboration.  Perhaps an example would help.  If you would also bring into consideration the idea of *truncation* or *conditioning* (which seems to be the main stumbling block), I think your point would be an excellent answer.', '2019-04-26 15:17:39', 919),
 (760760, 407096, 1, 'The approach to the chi-squared test sounds like it was not quite correct: see https://stats.stackexchange.com/a/17148/919 for an explanation.  Regardless, the two approaches will rarely yield exactly the same p-values, but they should be close unless your dataset is tiny.', '2019-05-07 17:06:11', 919),
 (786812, 421663, 2, "@Nick I imagine it might have something to do with venue size. e.g. if the sales are all for the same venue then you're going to have a hard cut-off at full capacity but there might be a peak just short of that for a variety of reasons.", '2019-08-12 00:14:27', 805)]

In [ ]:
# Run the query to select 5 random rows from the users table

%sql SELECT * FROM Users WHERE rowid IN (SELECT rowid FROM Users ORDER BY RANDOM() LIMIT 5);

 * sqlite:///chatdata.db
Done.

[(242819, 121, '2019-03-29 07:33:31', 'CodelessBugging', '2019-08-11 02:47:49', None, 'Singapore', '<p>Caught between coding and circuits</p>\n', 0, 0, 0, 'https://www.gravatar.com/avatar/2325576ffe7f43d5c16b58439d1e8702?s=128&d=identicon&r=PG&f=1', 11071698),
 (244843, 123, '2019-04-15 15:39:35', 'Hugh_Kelley', '2019-10-09 19:57:22', None, 'Washington D.C., DC, USA', None, 0, 0, 0, 'https://i.stack.imgur.com/SwtH8.jpg?s=128&g=1', 3638949),
 (257722, 1, '2019-08-30 15:57:11', 'Milica', '2019-09-09 13:22:48', None, None, None, 0, 0, 0, None, 16605729),
 (262024, 21, '2019-10-08 12:59:57', 'Baymax Lim', '2019-11-15 15:57:52', None, None, None, 1, 0, 0, 'https://www.gravatar.com/avatar/e52558635ad340fa8652f59ef3b3f78f?s=128&d=identicon&r=PG&f=1', 14508485),
 (264969, 1, '2019-11-07 01:14:04', 'LostAndAlone', '2019-11-16 03:49:03', None, None, None, 0, 0, 0, 'https://www.gravatar.com/avatar/58f1174449f3854470e86f5f7b3db86a?s=128&d=identicon&r=PG&f=1', 17049010)]

In [ ]:
sql = """
    %sql SELECT * FROM Posts WHERE rowid IN (SELECT rowid FROM Posts ORDER BY RANDOM() LIMIT 5);
    """
store_query("Task 7", "Run the query to select 5 random rows from the posts table", sql)

In [ ]:
sql = """
    %sql SELECT * FROM Comments WHERE rowid IN (SELECT rowid FROM Comments ORDER BY RANDOM() LIMIT 5);
    """
store_query("Task 8", "Run the query to select 5 random rows from the comments table", sql)

In [ ]:
sql = """
    %sql SELECT * FROM Users WHERE rowid IN (SELECT rowid FROM Users ORDER BY RANDOM() LIMIT 5);
    """
store_query("Task 9", "Run the query to select 5 random rows from the users table", sql)

In [ ]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [ ]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

How many posts have 0 comments?

In [ ]:
%sql SELECT COUNT(*) AS count_zero_comments FROM posts WHERE CommentCount = 0;

 * sqlite:///chatdata.db
Done.

[(21713,)]

How many posts have 1 comments?

In [ ]:
%sql SELECT COUNT(*) AS count_one_comment FROM posts WHERE CommentCount = 1;

 * sqlite:///chatdata.db
Done.

[(6460,)]

How many posts have 2 comments or more?

In [ ]:
%sql SELECT COUNT(*) AS count_posts_with_two_or_more_comments FROM posts WHERE CommentCount >= 2;

Find the 5 posts with the highest viewcount

In [ ]:
%sql SELECT * FROM posts ORDER BY ViewCount DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(388566, 1, 388582, 0, '2019-01-22 15:16:47', 56, 19542, '<ul>\n<li>Statement One (S1): "One in 80 deaths is caused by a car accident."</li>\n<li>Statement Two (S2): "One in 80 people dies as a result of a c ... (2000 characters truncated) ...  interpretation (their default for S2 is a much stronger assumption), or if they have some innate statistical sense that I\'m in fact lacking. </p>\n', 228214, None, 164061, None, '2019-01-22 21:40:39', '2019-01-24 17:09:47', 'Is it wrong to rephrase "1 in 80 deaths is caused by a car accident" as "1 in 80 people die as a result of a car accident?"', '<interpretation><risk>', 9, 15, 15, None, None, 2270),
 (394118, 1, 394128, 0, '2019-02-24 14:07:11', 64, 16317, '<p>A human child at age 2 needs around 5 instances of a car to be able to identify it with reasonable accuracy regardless of color, make, etc. When m ... (217 characters truncated) ... >What is it that artificial neural networks are missing that prevent them from being able to learn way quicker? Is transfer learning an answer?</p>\n', 107213, None, 7291, None, '2019-02-25 22:40:22', '2019-03-03 17:37:05', 'Why do neural networks need so many training examples to perform?', '<neural-networks><neuroscience>', 12, 24, 38, None, None, 512),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811),
 (398646, 1, 398653, 0, '2019-03-21 01:19:52', 61, 9850, '<p>The title of the Comment in Nature <a href="https://www.nature.com/articles/d41586-019-00857-9" rel="noreferrer">Scientists rise up against statis ... (1880 characters truncated) ... pft.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/tgpft.jpg" alt="Nature: Scientists rise up against statistical significance"></a></p>\n', 163067, None, 163067, None, '2019-03-22 22:14:04', '2019-03-30 19:35:27', 'What does "Scientists rise up against statistical significance" mean? (Comment in Nature)', '<statistical-significance><p-value><bias>', 10, 7, 34, None, None, 2148),
 (434128, 1, 434579, 0, '2019-11-01 13:07:36', 73, 6718, '<p>I am designing a one year program in data analysis with a local community college. The program aims to prepare students to handle basic tasks in d ... (891 characters truncated) ... ur in the area of variable selection and sampling design. I\'m interested in paradoxes that occur in other areas -- like the analysis as such. </p>\n', 14188, None, 0, None, None, '2019-11-26 00:59:15', 'Famous statistical wins and horror stories for teaching purposes', '<mathematical-statistics><data-visualization><experiment-design><teaching>', 13, 7, 70, None, '2019-11-01 15:12:41', 1172)]

Find the top 5 posts with the highest scores

In [ ]:
%sql SELECT * FROM posts ORDER BY Score DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(431397, 2, 0, 431370, '2019-10-14 14:29:36', 101, 0, '<p>Yes there is. Generally it is termed <strong>base rate fallacy</strong> or more specific <strong>false positive paradox</strong>. There is even a wikipedia article about it: <a href="https://en.wikipedia.org/wiki/Base_rate_fallacy" rel="noreferrer">see here</a></p>\n', 142976, None, 0, None, None, '2019-10-14 14:29:36', None, None, 0, 0, 0, None, None, 269),
 (394128, 2, 0, 394118, '2019-02-24 15:44:44', 100, 0, '<p>I caution against expecting strong resemblance between biological and artificial neural networks. I think the name "neural networks" is a bit dang ... (5584 characters truncated) ... l volume, diversity and resolution of the training data.</p>\n\n<p>*We don\'t presently have a tags for one-shot learning or few-shot learning.</p>\n', 22311, None, 22311, None, '2019-03-03 17:37:05', '2019-03-03 17:37:05', None, None, 0, 15, 0, None, None, 5829),
 (426878, 2, 0, 426873, '2019-09-11 23:23:31', 93, 0, '<p><strong>tl;dr</strong> Even though this is an image classification dataset, it remains a <strong>very easy</strong> task, for which one can easily ... (4424 characters truncated) ... and out more\n    frame1 = plt.gca()\n    frame1.axes.get_xaxis().set_visible(False)\n    frame1.axes.get_yaxis().set_visible(False)\n</code></pre>\n', 119015, None, 119015, None, '2019-09-13 14:02:28', '2019-09-13 14:02:28', None, None, 0, 6, 0, None, None, 4627),
 (388578, 2, 0, 388566, '2019-01-22 15:48:47', 80, 0, '<p>To me "1 in 80 deaths..." is by far the clearer statement.  The denominator in your "1 in 80" is the set of all death events and that statement ma ... (282 characters truncated) ... rence set in probability or frequency assertions like this. If you\'re talking about the proportion of deaths, then say "deaths" not "people". </p>\n', 227039, None, 0, None, None, '2019-01-22 15:48:47', None, None, 0, 11, 0, None, None, 572),
 (431370, 1, 431397, 0, '2019-10-14 11:29:21', 77, 11723, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 262594, None, 11887, None, '2019-11-28 01:44:34', '2019-11-28 01:44:34', 'Is there a name for the phenomenon of false positives counterintuitively outstripping true positives', '<probability><terminology><intuition>', 8, 9, 18, None, None, 811)]

What are the 5 most frequent scores on posts?

In [ ]:
%sql SELECT Score, COUNT(*) AS count_posts FROM posts GROUP BY Score ORDER BY count_posts DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

How many posts have the keyword "data" in their tags?

In [ ]:
%sql SELECT COUNT(*) AS count_posts FROM posts WHERE Tags LIKE '%data%';

 * sqlite:///chatdata.db
Done.

[(2242,)]

What are the 5 most frequent commentcount for posts?

In [ ]:
%sql SELECT CommentCount, COUNT(*) AS count_frequency FROM posts GROUP BY CommentCount ORDER BY count_frequency DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

How many posts have an accepted answer?

In [ ]:
%sql SELECT COUNT(*) AS count_posts_with_accepted_answer FROM posts WHERE AcceptedAnswerId > 0;

 * sqlite:///chatdata.db
Done.

[(5341,)]

What is the average reputation of table users?

In [ ]:
%sql SELECT AVG(reputation) AS average_reputation FROM users;

 * sqlite:///chatdata.db
Done.

[(312.3509124484032,)]

What are the min and max reputation of users?

In [ ]:
%sql SELECT MIN(reputation) AS min_reputation, MAX(reputation) AS max_reputation FROM users;

 * sqlite:///chatdata.db
Done.

[(1, 228662)]

What is the length of the body of 5 most viewed posts?

In [ ]:
%sql SELECT LENGTH(Body) AS body_length FROM posts ORDER BY ViewCount DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[(2270,), (512,), (811,), (2148,), (1172,)]

How many different locations are there in the users table?

In [ ]:
%sql SELECT COUNT(DISTINCT location) AS count_locations FROM users;

 * sqlite:///chatdata.db
Done.

[(1900,)]

What are the top 5 locations of users?

In [ ]:
%sql SELECT location, COUNT(*) AS count_users FROM users WHERE location IS NOT NULL AND location != '' GROUP BY location ORDER BY count_users DESC LIMIT 5;

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

In [ ]:
#%sql SELECT strftime('%w', CreationDate) AS day_of_week, (SUM(ViewCount) * 100.0 / (SELECT SUM(ViewCount) FROM posts)) AS viewcount_percentage FROM posts GROUP BY day_of_week ORDER BY viewcount_percentage DESC;

%sql SELECT ROUND(SUM(ViewCount * 100.0) / (SELECT SUM(ViewCount) FROM Posts), 2) AS SumViewCountPercent, CASE CAST (strftime('%w', CreationDate) AS INTEGER) WHEN 0 THEN 'Sunday' WHEN 1 THEN 'Monday' WHEN 2 THEN 'Tuesday' WHEN 3 THEN 'Wednesday' WHEN 4 THEN 'Thursday' WHEN 5 THEN 'Friday' ELSE 'Saturday' END AS Day FROM Posts GROUP BY Day ORDER BY SumViewCountPercent DESC;

 * sqlite:///chatdata.db
Done.

[(16.82, 'Thursday'),
 (16.77, 'Wednesday'),
 (16.26, 'Tuesday'),
 (15.81, 'Monday'),
 (13.56, 'Friday'),
 (11.9, 'Sunday'),
 (8.89, 'Saturday')]

# Cross Table Queries

How many posts have been created by a user that has a filled out the "AboutMe" section?

In [ ]:
%sql SELECT COUNT(*) AS count_posts_with_about_me FROM posts AS p INNER JOIN users AS u ON p.OwnerUserId = u.Id WHERE u.AboutMe IS NOT NULL AND u.AboutMe != '';

 * sqlite:///chatdata.db
Done.

[(17189,)]

Considering only the users with an "AboutMe," how many posts are there per user?

In [ ]:
%sql SELECT COUNT(*) / (SELECT CAST(COUNT(*) AS FLOAT) FROM USERS WHERE ABOUTME !='') AS posts_per_user FROM POSTS P JOIN USERS U ON P.OWNERUSERID = U.ID WHERE U.ABOUTME !='';

 * sqlite:///chatdata.db
Done.

[(4.274807261875155,)]

Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?

In [ ]:
%sql SELECT PostId, COUNT(*) AS comment_count FROM comments GROUP BY PostId ORDER BY comment_count DESC LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(386853, 66),
 (384936, 42),
 (386556, 34),
 (418910, 31),
 (395232, 31),
 (402987, 27),
 (386075, 26),
 (394118, 24),
 (335381, 24),
 (402950, 23)]

Who are the top 10 users who comment the most?

In [ ]:
%sql SELECT c.UserId AS user_id, COUNT(*) AS comment_count, u.Reputation AS user_reputation FROM comments AS c INNER JOIN users AS u ON c.UserId = u.Id GROUP BY c.UserId, u.Reputation ORDER BY comment_count DESC LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(919, 3301, 223056),
 (805, 1153, 228662),
 (143489, 1024, 2890),
 (11887, 805, 39200),
 (85665, 691, 17391),
 (164061, 540, 13485),
 (22047, 536, 41385),
 (158565, 504, 6482),
 (7962, 492, 8030),
 (35989, 470, 71548)]

Who are the top 10 users who post the most?

In [ ]:
%sql SELECT p.OwnerUserId AS user_id, COUNT(*) AS post_count, u.Reputation AS user_reputation FROM posts AS p INNER JOIN users AS u ON p.OwnerUserId = u.Id GROUP BY p.OwnerUserId, u.Reputation ORDER BY user_reputation DESC LIMIT 10;

 * sqlite:///chatdata.db
Done.

[(805, 230, 228662),
 (919, 203, 223056),
 (7290, 35, 115531),
 (686, 386, 85077),
 (28666, 8, 75024),
 (35989, 230, 71548),
 (7224, 233, 65999),
 (4253, 71, 59952),
 (1352, 285, 59160),
 (22311, 140, 51155)]

In [ ]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    '),
 ('Task 2', 'Create table posts', '\n    CREATE TABLE "posts" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"PostTypeId" INTEGER,\n"AcceptedAnswerId" INTEGER,\n"ParentId" INTEGER,\n"Creati ... (241 characters truncated) ... n"Tags" TEXT,\n"AnswerCount" INTEGER,\n"CommentCount" INTEGER,\n"FavoriteCount" INTEGER,\n"ClosedDate" TEXT,\n"CommunityOwnedDate" TEXT,\n    )\n    '),
 ('Task 3', 'Create table users', '\n    CREATE TABLE "users" (\n   "Id" INTEGER NOT NULL PRIMARY KEY,\n"Reputation" INTEGER,\n"CreationDate" TEXT,\n"DisplayName" TEXT,\n"LastAccessDat ... (34 characters truncated) ... ation" TEXT,\n"AboutMe" TEXT,\n"Views" INTEGER,\n"UpVotes" INTEGER,\n"DownVotes" INTEGER,\n"ProfileImageUrl" TEXT,\n"AccountId" INTEGER,\n    )\n    '),
 ('Task 4', 'Count the number of rows in the comments table', '\n    %sql SELECT COUNT(*) FROM comments;\n    '),
 ('Task 5', 'Count the number of rows in the users table', '\n    %sql SELECT COUNT(*) FROM users;\n    '),
 ('Task 6', 'Count the number of rows in the posts table', '\n    %sql SELECT COUNT(*) FROM posts;\n    '),
 ('Task 7', 'Run the query to select 5 random rows from the posts table', '\n    %sql SELECT * FROM Posts WHERE rowid IN (SELECT rowid FROM Posts ORDER BY RANDOM() LIMIT 5);\n    '),
 ('Task 8', 'Run the query to select 5 random rows from the comments table', '\n    %sql SELECT * FROM Comments WHERE rowid IN (SELECT rowid FROM Comments ORDER BY RANDOM() LIMIT 5);\n    '),
 ('Task 9', 'Run the query to select 5 random rows from the users table', '\n    %sql SELECT * FROM Users WHERE rowid IN (SELECT rowid FROM Users ORDER BY RANDOM() LIMIT 5);\n    ')]

In [ ]:
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

queries.drop_duplicates(inplace = True) # drop duplicates

In [ ]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()

queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 2,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n ""ID"" INTEGER ..."
3,TASK 3,CREATE TABLE USERS,"\n CREATE TABLE ""USERS"" (\n ""ID"" INTEGER ..."
4,TASK 4,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,\n %SQL SELECT COUNT(*) FROM COMMENTS;\n
5,TASK 5,COUNT THE NUMBER OF ROWS IN THE USERS TABLE,\n %SQL SELECT COUNT(*) FROM USERS;\n
6,TASK 6,COUNT THE NUMBER OF ROWS IN THE POSTS TABLE,\n %SQL SELECT COUNT(*) FROM POSTS;\n
7,TASK 7,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n %SQL SELECT * FROM POSTS WHERE ROWID IN ...
8,TASK 8,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n %SQL SELECT * FROM COMMENTS WHERE ROWID ...
9,TASK 9,RUN THE QUERY TO SELECT 5 RANDOM ROWS FROM THE...,\n %SQL SELECT * FROM USERS WHERE ROWID IN ...

In [ ]:
queries.to_sql('queries', con, if_exists='replace', index=False)

10

In [ ]:
con.close()